.sidemenu {
    width: 11%;
    margin-right: 4%;
    float: left;
}

.nav-logo {
    color: #CFFFFE;
    padding-top: 60px;
    padding-bottom: 20px;
}

.nav-logo img {
    max-width: 100%;
}

.nav-logo p {
    /* font-size: 21px; */
    font-weight: 600;
    padding-top: 20px;
    margin: 0;
    text-align: center;
}

/* show the hamburger and hide navbar on small screens */
@media screen and (max-width: 931px) {
    .hamburger {
        display: block; 
    }
    
    .main-navigation {
        display: none;
    }

    .main-content {
        display: none;
    }
}

/* show the navbar on large screens */
@media screen and (min-width: 932px) {
    .hamburger {
        display: none; 
    }

    .main-navigation {
        display: initial;
    }

    .main-content {
        float: left;
        display: block;
        width: 85%;
    }

    .main-buffer {
        width: 97%;
        margin-left: 3%;
    }
}