#side-bar {
    width: 11%;
    margin-right: 4%;
    float: left;
}

.nav-logo img {
    max-width: 100%;
    max-height: 300px; /* manually set max height */
    width: auto;
    height: auto;
    padding-top: 30%;
}

.nav-logo p {
    font-size: 1em;
    text-align: center;
}