---
import MainLayout from "../layouts/MainLayout.astro"
import Section from "../components/Section.astro"
---

<MainLayout pageTitle="Backgrounds">
    <Section heading="Backgrounds">

    </Section>
</MainLayout>
