---
import MainLayout from "../layouts/MainLayout.astro"
import Section from "../components/Section.astro"
---

<MainLayout pageSelected="characterdesign" pageTitle="Character Design">
    <Section heading="Character Design">

    </Section>
</MainLayout>
