---
import Layout from "../layouts/Layout.astro";
import SectionHeader from "../components/SectionHeader.astro";
---

<style>
    span {
        color: white;
        word-break: break-word;
    }

    img {
        width: 1920px;
        max-width: 100%;
        display: block;
        margin: 0 auto;
    }

    div {
        display: block;
        text-align: center;
    }

    .wrapper {
        display: flex;
    }

    .biography {
        font-size: 45px;
    }

    .contact-info {
        font-size: 35px;
        line-height: 40px;
    }

    .form-input {
        display: block;
    }

</style>

<Layout pageSelected="contact" pageTitle="About & Contact">
    <SectionHeader heading="About" />
    <div class="wrapper">
        <div>
            <img src="../assets/nutrition-design.png" />
        </div>
        <span class="biography">
            Hi, I'm Jenny! I'm a New York-based illustrator and aspiring concept designer/visual development artist. I'm currently studying towards a BFA in Illustration at the School of Visual Arts.
            <br>
            <br>(Something I love almost as much as telling stories with my art is rainy days and cereal.)​​​​​​​
        </span>
    </div>
    <SectionHeader heading="Contact" />
        <div class="contact-info">
            <span>Feel free to contact me for any further inquiries at: </span>
            <br>
            <span><u><b>lin.jenny101@gmail.com</b></u></span>
        </div>
        <form>
            <div class="form-input">
                <label for="contact-name">Name *</label>
                <input type="text" id="contact-name" placeholder="Your Name...">
            </div>
            <div class="form-input">
                <label for="contact-email">Email Address *</label>
                <input type="email" id="contact-name" placeholder="Your Email Address...">
            </div>
            <div class="form-input">
                <label for="contact-name">Message *</label>
                <textarea id="contact-name" placeholder="Your Message..."></textarea>
            </div>
            <input type="submit">
        </form>
</Layout>