---
import Layout from "../layouts/Layout.astro";
import SectionHeader from "../components/SectionHeader.astro";
---

<style>
    span {
        color: white;
        word-break: break-word;
    }

    img {
        width: 1920px;
        max-width: 100%;
        display: block;
        margin: 0 auto;
    }

    img:hover {
        cursor: zoom-in;
    }

    div {
        text-align: center;
    }

    .wrapper {
        display: flex;
    }

    .biography {
        font-size: 45px;
    }

    .contact-info {
        font-size: 35px;
        line-height: 40px;
    }

    .form-input label {
        display: block;
        text-align: left;
        margin-bottom: 5px;
        margin-right: auto;
        color: #CFFFFE;
        font-style: italic;
    }
    
    .form-input input, textarea {
        background-color: white;
        border: none;
        color: #333333;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        width: 500px;
        margin-bottom: 20px;
        padding: 10px 8px;
        border-radius: 5px;
    }

    .form-module {
        float: none;
        margin-bottom: 40px;
        margin-top: 60px;
        max-width: 500px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    textarea {
        height: 132px;
    }

    #submit-button {
        display: flex;
        color: white;
        background-color: #333333;
        cursor: pointer;
        border: none;
        border-radius: 5px;
        line-height: 40px;
        height: 40px;
        padding: 0px 30px;
        font-size: 15px;
    }

    #submit-button:hover {
        font-style: italic;
    }

</style>

<Layout pageSelected="contact" pageTitle="About & Contact">
    <SectionHeader heading="About" />
    <div class="wrapper">
        <div>
            <img src="../assets/nutrition-design.png" />
        </div>
        <span class="biography">
            Hi, I'm Jenny! I'm a New York-based illustrator and aspiring concept designer/visual development artist. I'm currently studying towards a BFA in Illustration at the School of Visual Arts.
            <br>
            <br>(Something I love almost as much as telling stories with my art is rainy days and cereal.)​​​​​​​
        </span>
    </div>
    <SectionHeader heading="Contact" />
        <div class="contact-info">
            <span>Feel free to contact me for any further inquiries at: </span>
            <br>
            <span><u><b>lin.jenny101@gmail.com</b></u></span>
        </div>
        <div class="form-module">
            <form>
                <div class="form-input">
                    <label for="contact-name">Name *</label>
                    <input type="text" id="contact-name" placeholder="Your Name..." required>
                </div>
                <div class="form-input">
                    <label for="contact-email">Email Address *</label>
                    <input type="email" id="contact-name" placeholder="Your Email Address..." required>
                </div>
                <div class="form-input">
                    <label for="contact-name">Message *</label>
                    <textarea id="contact-name" placeholder="Your Message..." required></textarea>
                </div>
                <input id="submit-button" type="submit">
            </form>
        </div>
</Layout>