---
import Layout from '../layouts/Layout.astro'
import "../styles/global.css";

import { getCategories } from '../lib/wrapper';

const categories = await getCategories();

---
<Layout pageSelected="concept">
	{
		categories.map((category) => (
			<div class="landing-category-selection">
				<img src={`${import.meta.env.STRAPI_URL}${category.cover_piece.url}`} height="200" />
				<div>{category.name}</div>
			</div>
		))
	}
</Layout>