---
import MainLayout from '../layouts/MainLayout.astro'
import "../styles/global.css";

const pageTitle = "passed in page title"
---
<MainLayout pageTitle={pageTitle}>
	<h1>first</h1>
	<h1>second</h1>
	<h1>third</h1>

</MainLayout>