---
import Layout from '../layouts/Layout.astro'
import Category from '../components/Category.astro';
import "../styles/global.css";

import { getCategories } from '../lib/wrapper';
import STRAPI_URL from '../lib/env';

const categories = await getCategories();
const img_prefix = import.meta.env.LOCAL ? STRAPI_URL : "";
---

<style is:global>

	.landing-category {
		padding-top: 40px;
		display: flex;
		flex-wrap: wrap;
	}

	@media screen and (min-width: 540px) {
		
		.category-selection {
			width: 49%;
			margin-right: 1%;
			margin-bottom: 4%;
		}

	}

	@media screen and (max-width: 541px) {

		.category-selection {
			width: 100%;
			margin-bottom: 4%;
		}
		
	}

</style>

<Layout pageSelected="concept">
	{
		<section class="landing-category">
			{ 
				categories.map((category) => (
					<Category
						path={`${category.path}`}
						cover_piece_url={`${img_prefix}${category.cover_piece.url}`}
						name={category.name}
					/>
				))
			}
		</section>
		
	}
</Layout>