---
import Layout from '../layouts/Layout.astro'
import Category from '../components/Category.astro';
import "../styles/global.css";

import { getCategories } from '../lib/wrapper';
import { IMG_URL_PREFIX } from '../lib/env';

const categories = await getCategories();
---

<style>

	.landing-category {
		padding-top: 40px;
		display: flex;
		flex-wrap: wrap;
	}

</style>

<Layout pageSelected="concept">
	{
		<section class="landing-category">
			{ 
				categories && categories.map((category) => (
					<Category
						container="landing"
						path={`${category.path}`}
						cover_piece_url={`${IMG_URL_PREFIX}${category.cover_piece.url}`}
						name={category.name}
					/>
				))
			}
		</section>
	}
</Layout>