---
import MainLayout from "../layouts/MainLayout.astro"
import Section from "../components/Section.astro"
---

<MainLayout pageSelected="personal" pageTitle="Personal">
    <Section heading="Personal">

    </Section>
</MainLayout>
