---
import MainLayout from "../layouts/MainLayout.astro";
import Section from "../components/Section.astro";
---
<MainLayout title="Projects">
    <Section heading="Projects">
        <h2>Senior Thesis</h2>
        <h2>Junior Thesis</h2>
    </Section>
</MainLayout>