---
import Layout from "../layouts/Layout.astro";
import SectionHeader from "../components/SectionHeader.astro";
import Grid from "../components/Grid.astro";
import { getGridsFromCategory, getPiecesFromGrid } from "../lib/wrapper";

const PATH = "projects";
const grids = await getGridsFromCategory(PATH);

---
<Layout pageSelected=PATH pageTitle="Projects">
    <SectionHeader heading="Projects" />
    {
        grids.map(async (grid) => {
            return ( 
                <div>
                    <h1>{grid.heading}</h1>
                    <Grid grid_id={grid.grid_id} num_rows={grid.num_rows} num_cols={grid.num_cols} />
                </div> )
        })
    }
</Layout>