---
import { getCategories, getGridsFromCategory, getPiecesFromGrid } from '../lib/wrapper';

const pieces = await getPiecesFromGrid("personal");

---

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Strapi & Astro</title>
  </head>

  <body>
    <!-- {
        categories.map((category) => (
            <div> { category.name } </div>
            <div>
                { category.cover_piece && <img src={`http://localhost:1337${category.cover_piece.url}`} /> }
            </div>
        ))
    } -->

    {
      pieces.map((piece) => (
        <div>Piece url: { piece.url }</div>
        <img height="200" src={`http://localhost:1337${piece.url}`} />
      ))
    }
    
  </body>
</html>

