---
export const prerender = false;
import { IMG_URL_PREFIX } from '../lib/env';
import { getPiecesFromGrid } from '../lib/wrapper';

const { num_rows, num_cols, grid_id } = Astro.props;

const pieces = await getPiecesFromGrid(grid_id);
---

<style define:vars={{ num_rows, num_cols }}>
    .grid {
        display: grid;
        grid-template-columns: repeat(var(--num_cols), auto);
        grid-template-rows: repeat(var(--num_rows), auto);
    }

    .grid img {
        width: 100%;
    }

</style>

<div class="grid">
    {
        pieces && pieces.map((piece) => {
            return <img src={`${IMG_URL_PREFIX}${piece.url}`} />
        })
    }
</div>
