---
import Closeable from "./Closeable"
---

<style>

    .hamburger-menu {
        width: 100%;
        padding: 40px 0;
        text-align: center;
    }

    #hamburger-logo {
        max-height: 60px;
        max-width: 100%;
    }

    #hamburger {
        width: 30px;
        cursor: pointer;
    }

    #hamburger .line {
        display: block;
        height: 4px;
        margin-bottom: 4px;
        background-color: #334C4F;
    }

</style>

<header class="hamburger-menu">
    <!-- logo link to landing page -->
    <a href="/">
        <img src="/assets/logo.png" id="hamburger-logo" alt="Logo">
    </a>
    <!-- hamburger icon -->
    <Closeable client:visible id_list={["landing-popup", "landing", "hamburger"]}>
        <div id="hamburger">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
        </div>
    </Closeable>
    
</header>

