---
const { id } = Astro.props
---
<style>

.nav-links a {
    display: block;
    padding: 15px;
    text-align: left;
    text-decoration: none;
    font-weight: bold;
}

.nav-links a.concept {
    font-size: 2rem;
    color: orange;
    text-transform: uppercase;
}

#sidebar {
    font-family: "helvetica";
    white-space: nowrap;
    width:200px;
}
</style>
<div class="nav-links" id=`${id}`>
    <a href="/" class="concept">Concept / Visdev</a>
    <a href="/projects">Projects</a>
    <a href="/bgs">Backgrounds</a>
    <a href="/characterdesign">Character Design</a>
    <a href="/personal">Personal</a>
    <a href="/contact">About & Contact</a>
</div>