---
---
<div class="nav-links">
    <div class="nav-logo">
        <a href="/">
            <img src="/assets/logo.png" alt="Logo" />
        </a>
        <p>welcome to my rainy atelier</p>
    </div>
    <a href="/" class="concept">Concept / Visdev</a>
    <a href="/projects">Projects</a>
    <a href="/bgs">Backgrounds</a>
    <a href="/characterdesign">Character Design</a>
    <a href="/personal">Personal</a>
    <a href="/contact">About & Contact</a>
</div>