---
import Footer from "./Footer.astro"
import Sidebar from "./Sidebar.astro"
---
<div class="nav-links">
    <div class="nav-logo">
        <a href="/work">
            <img src="/assets/logo.png" alt="Logo" />
        </a>
        <p>welcome to my rainy atelier</p>
    </div>
    <Sidebar />
    <Footer />
</div>