---
const { currPath } = Astro.props;

import { getCategories } from '../lib/wrapper';
import STRAPI_URL from '../lib/env';

const categories = await getCategories();
const img_prefix = import.meta.env.LOCAL ? STRAPI_URL : "";
---

<style>
    .other-projects {
        display: block;
        width: 100%;
        padding-bottom: 0px;
        padding-top: 60px;
    }
</style>

<section class="other-projects">
    <div>
        YOU MAY ALSO LIKE
    </div>
</section>