---
import Navigation from "./Navigation.astro";
import Closeable from "./Closeable";

const { pageSelected } = Astro.props;
---

<style>
#landing-popup {
    width: 100%; /* fill in the whole space */
    height: 100%;
    background-color: black;
}

footer {
    position: sticky;
    bottom: 0;
}
</style>

<div id="landing-popup" class="hidden" >
    <Closeable client:visible id_list={["landing-popup", "landing", "hamburger"]}>
        X
    </Closeable>
    <Navigation pageSelected={pageSelected} id="popup-nav" />
    <!-- <footer>
        <Social platform="instagram" username="rainy.atelier" />
    </footer> -->
</div>