---
const { heading } = Astro.props;
---

<style>
    .main-buffer {
        width: 97%;
        margin-left: 3%;
    }
</style>

<main class="main-content">
    <div class="main-buffer">
        <div class="main-header">
            <h1>{heading.toUpperCase()}</h1>
         </div>
        <slot />
    </div>
</main>