---
const { heading } = Astro.props;
---

<style>
    .main-buffer {
        width: 97%;
        margin-left: 3%;
    }

    .main-header {
        margin-left: auto;
        margin-right: auto;
        max-width: 800px;
        padding-bottom: 40px;
        padding-top: 80px;
        width: 100%;
    }

    .main-header h1 {
        color: #FFF199;
        font-style: normal;
        font-weight: 600;
        padding-bottom: 15px;
        padding-top: 0px;
        text-align: center;
        text-transform: uppercase;
        width: 100%;
        margin: 0;
    }
</style>

<main class="main-content">
    <div class="main-buffer">
        <div class="main-header">
            <h1>{heading.toUpperCase()}</h1>
         </div>
        <slot />
    </div>
</main>