---
import Navigation from './Navigation.astro';
import Social from './Social.astro';
import "../styles/sidemenu.css";

const { pageSelected } = Astro.props
---
<header class="sidemenu">
  <div class="nav-logo">
    <a href="/">
        <img src="/assets/logo.png" alt="Logo" />
    </a>
    <p>welcome to my rainy atelier</p>
  </div>
  <nav>
    <Navigation pageSelected={pageSelected} />
  </nav>
  <Social platform="instagram" username="rainy.atelier" />
</header>