---
import Hamburger from './Hamburger.astro';
import Navigation from './Navigation.astro';
import Social from './Social.astro';
---
<header class="left-header">
  <nav>
    <Hamburger />
    <Navigation />
    <Social platform="instagram" username="rainy.atelier" />
  </nav>
</header>