---
const { platform, username } = Astro.props;
---
<style>
   .fab fa-${platform}:hover {
    
   }
</style>
<a href={`https://www.${platform}.com/${username}`}>
    <i class=`fab fa-${platform} fa-2x` style="color: white;"></i>
</a>