---
import Navigation from "../components/Navigation.astro";
import SideMenu from "../components/SideMenu.astro";
import HamburgerMenu from "../components/HamburgerMenu.astro";
import Popup from "../components/Popup.astro";
import Social from "../components/Social.astro";
import "../styles/global.css";

const { pageTitle, pageSelected } = Astro.props; // a Layout accepts a page title
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Jenny Lin{pageTitle ? ` - ${pageTitle}` : ""}</title>
    </head>
    <body>
        <Popup pageSelected={pageSelected} />
        <div id="landing">
            <SideMenu pageSelected={pageSelected} />
            <HamburgerMenu/>
            <main class="landing-content">
                <div class="landing-buffer">
                    <slot />
                    
                    <!-- Back to top link -->
                    <section class="back-to-top">
                        <a href="#">
                            <span>↑</span>
                            <span>Back to Top</span>
                        </a>
                    </section>
                    
                    <!-- footer with instagram -->
                    <footer>
                        <Social platform="instagram" username="rainy.atelier" />
                        <div>2025 Jenny Lin</div>
                    </footer>
                    
                </div>
            </main>
        </div>
    </body>
</html>
