---
import Navigation from "../components/Navigation.astro";
import SideMenu from "../components/SideMenu.astro";
import "../styles/global.css";

const { pageTitle } = Astro.props; // a MainLayout accepts a page title
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Jenny Lin{pageTitle ? ` - ${pageTitle}` : ""}</title>
    </head>
    <body>
        <div id="main-popup" class="hidden">
            <Navigation />
        </div>
        <div id="main-display">
            <SideMenu />
            <slot />
        </div>
        <script>
            import "../scripts/menu.js";
        </script>
    </body>
</html>
